<!DOCTYPE html>
<html>
  <head>
    <title>Hung V Tran</title>
    <%= stylesheet_link_tag "application", media: "all",
                                           "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
      <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400' rel='stylesheet' type='text/css'>
</head>
    <%= csrf_meta_tags %>
    <%= render 'layouts/shim' %>
  </head>
  <body>
  <div id = "wrapper">
    <div id= "header">
      <%= render 'layouts/header' %>
    </div><!--
    header-to-content
    -->
    <div id= "content">
      <%= yield %>
    </div>
    <div class="container" id = "footer">
      <%= render 'layouts/footer' %>
    </div>
  </div>  
  </body>
</html>